@charset "utf-8";

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-centered {
  height: 300px;
  width: 300px;
  margin:auto;
}

.has-text-centered h1 {
  font-size: 50px;
}

/* ブログpage */
.blog-contents {
  flex-wrap: wrap;
}

.blog-contents button {
  height: 400px;
  width: 270px;
}

/* ダークモード */
.dark-mode {
  /* display: flex; */
  justify-content: flex-end;
  height: 80px;
  width: 60px;
}

.Mode.dark {
  background-color: #3a383b;
  color: #e1e1e1;
  transition: all 0.5s;
}

.Mode.light {
  background-color: #F8F3EF;
  color: #353535;
  transition: all 0.5s;
}

footer {
  padding-bottom: 100px;
}

.headerNavs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.headerNavs li {
  padding-left: 20px;
}

.headerNavs li:first-child {
  padding-left: 0px;
}

/* Mainコンポーネント */
.main-contet  {
  display: flex;
}

.main-contets-button {
  width: 40%;
  justify-content: 'center';
}

.main-contets-youtube {
  width: 60%;
}

.main-contets button {
  background-color: white;
  color: black;
  border: none;
  padding: 40px 30px;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px; /* 任意の角丸具合を設定 */
}

/* ブログの画像の部分を３個おきに折返しさせたい。 */

/* .latest-work--image:nth-child(-n+3) {
  margin-top: 0;
}

.latest-work--image:nth-child(3n+1) {
  margin-left: 0;
} */

/* ↑boulだとこんな感じでおりかえしてた */