@charset "utf-8";

/* Mainの左右のマージン */
.main-contets {
  margin:0 10%;
}

/* Aboutのマージン */
.about {
  margin: 0 10%;
}

/* Blogのマージン */
.has-text-centered {
  margin: 0 10%;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-centered {
  height: 300px;
  width: 300px;
  margin:auto;
}

.has-text-centered h1 {
  font-size: 50px;
}

/* ブログpage */
.blog-contents {
  flex-wrap: wrap;
}

.blog-contents button {
  height: 400px;
  width: 270px;
}

/* ダークモード */
.dark-mode {
  /* display: flex; */
  justify-content: flex-end;
  height: 80px;
  width: 60px;
}

.Mode.dark {
  background-color: #3a383b;
  color: #e1e1e1;
  transition: all 0.5s;
}

.Mode.light {
  background-color: #F8F3EF;
  color: #353535;
  transition: all 0.5s;
}

footer {
  padding-bottom: 100px;
}

.headerNavs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.headerNavs li {
  padding-left: 20px;
}

.headerNavs li:first-child {
  padding-left: 0px;
}

/* Mainコンポーネント */
.main-contet {
  display: flex;
  text-align: center  ;
  height: 600px;
}
.main-contets-texts {
  width: 40%;
  background-color: azure;
}
.main-contets-text {
  display: flex;

  height: 100%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px; 
  & h2 {
    font-size: 60px;
  }
  & p {
    font-size: 30px;
  }
}
.main-contets-whether {
  width: 60%;
  background-color: antiquewhite;
}
